In [1]:
import pandas as pd
from scipy.stats import kurtosis
import matplotlib.pyplot
import numpy as np
import seaborn as sb

In [2]:
df = pd.read_excel('./Grupo 01.xlsx')
#TODO: medidas de tendencia central
#TODO: medidas de variacion
#TODO: cuantitativas cosntruir un grafico
#TODO: tabla de frecuencia para las cualitativas
#TODO: grafico para cualitativas
#TODO: medidas de tendencia central para precio segun el parqueadero
#TODO: medias de tendencia central para mt2 segun si esta terminaod o no
#TODO: box-plot para las ultimas dos tareas
df

,precio,mt2,ubicacion,estrato,alcobas,banos,balcon,parqueadero,administracion,avaluo,terminado
0,79.0,43.16,norte,3,3,1,si,si,0.0500,14.923002,no
1,100.0,66.40,norte,3,2,2,no,no,0.0000,15.738427,no
2,135.0,89.80,norte,4,3,2,si,no,0.0000,39.567000,si
3,145.0,54.83,norte,3,2,2,si,si,0.1400,27.000000,si
4,160.0,93.00,norte,4,4,2,si,no,0.0000,28.956220,si
...,...,...,...,...,...,...,...,...,...,...,...
342,410.0,141.00,laureles,5,3,3,si,si,0.5300,190.000000,si
343,450.0,123.00,laureles,5,4,3,si,si,0.5170,190.000000,si
344,470.0,248.00,laureles,5,3,2,no,si,0.4809,345.376000,si
345,508.0,209.00,laureles,6,4,3,si,si,0.4500,258.850000,si
346,630.0,179.00,laureles,5,3,3,si,si,0.3400,324.114000,si

In [3]:
var_precio = df['precio']

'''Medidas de tendencia central'''
precio_mean = var_precio.mean() #317.03
precio_median = var_precio.median() #245
precio_mode = var_precio.mode() #220

'''Medidas de dispersion'''
precio_std = var_precio.std(ddof = 0) #247.51, valor poblacional no muestral
precio_varianza = var_precio.var(ddof = 0) #61262.03, valor poblacional no muestral
precio_asimetria = var_precio.skew() #2.39
precio_curtosis = kurtosis(var_precio, fisher= False) #10.04
precio_range = (var_precio.max() - var_precio.min()) #1675
var_precio.describe()  # min = 25 ; max = 1700 ; 25% = 160 ; 50% = 245 ; 75% = 380 ; count=347

count     347.000000
mean      317.038447
std       247.869099
min        25.000000
25%       160.000000
50%       245.000000
75%       380.000000
max      1700.000000
Name: precio, dtype: float64

In [15]:
var_mt2 = df['mt2']

'''Medidas de tendencia central'''
mt2_mean = var_mt2.mean() #120.01
mt2_median = var_mt2.median() #96
mt2_mode = var_mt2.mode() #60

'''Medidas de dispersion'''
mt2_std = var_mt2.std(ddof = 0) #73.89, valor poblacional no muestral
mt2_varianza = var_mt2.var(ddof = 0) #5459.73 ,valor poblacional no muestral
mt2_simetria = var_mt2.skew() #1.88
mt2_curtosis = kurtosis(var_mt2, fisher= False) #6.97
mt2_rango = (var_mt2.max() - var_mt2.min()) #474
var_mt2.describe()  # min = 26 ; max = 500 ; 25% = 72 ; 50% = 96 ; 75% = 140 ; count = 347;

0    60.0
Name: mt2, dtype: float64

In [25]:
var_estrato = df['estrato']

'''Medidas de tendencia central'''
estrato_mean = var_estrato.mean() #4.64
estrato_median = var_estrato.median() #5
estrato_mode = var_estrato.mode() #6

'''Medidas de dispersion'''
estrato_std = var_estrato.std(ddof = 0) #1.19, valor poblacional no muestral. Muestral : ddof = 1
estrato_varianza = var_estrato.var(ddof = 0) #1.421 ,valor poblacional no muestral. Muestral : ddof = 1
estrato_asimetria = var_estrato.skew() #-0.247
estrato_curtosis = kurtosis(var_estrato, fisher= False) #1.674
estrato_rango = (var_estrato.max() - var_estrato.min()) #4
var_estrato.describe()  # min = 2 ; max = 6; 25% = 4 ; 50% = 5 ; 75% = 6 ; count = 347;

0    6
Name: estrato, dtype: int64

In [ ]:
var_alcobas = df['alcobas']

'''Medidas de tendencia central'''
alcobas_mean = var_alcobas.mean() #4.64
alcobas_median = var_alcobas.median() #5
alcobas_mode = var_alcobas.mode() #6

'''Medidas de dispersion'''
alcobas_std = var_alcobas.std(ddof = 0) #1.19, valor poblacional no muestral. Muestral : ddof = 1
alcobas_varianza = var_alcobas.var(ddof = 0) #1.421 ,valor poblacional no muestral. Muestral : ddof = 1
alcobas_asimetria = var_alcobas.skew() #-0.247
alcobas_curtosis = kurtosis(var_alcobas, fisher= False) #1.674
estrato_rango = (var_estrato.max() - var_estrato.min()) #4
var_estrato.describe()  # min = 2 ; max = 6; 25% = 4 ; 50% = 5 ; 75% = 6 ; count = 347;